/* General */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(252, 252, 252);
    color: #333;
    align-items: center;
    
}
.content{
    height: 800px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f5f5f5;
    margin: 0 auto;
    
}

.column1{
    float: left;
    text-align: center;
    width: 25%;
    height: 800px;
   background-color: #ffffff;
   box-shadow: 2px 0 5px rgba(0,0,0,0.05); /* Sombra suave */
}
#profile-picture {
    margin: 30px auto;  /* Margen arriba/abajo y centrado lateral */
    max-width: 70%;     /* Tamaño controlado */
    height: auto;
    border-radius: 10px;
    border-radius: 10px;
}
.column2{
    float: left;
    text-align: left;
    width: 75%;
    height: 800px;
   background-color: #ffffff;
}

/* Header */
.header-content {
    background-image: url('../images/header_background.jpg');
    background-size: cover;       
    background-position: center;  
    width: 100vw;                 
    padding: 100px 0;             
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;               
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
}

/* Navegación */
ul {
    list-style: none; /*Para quitar los puntos*/
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 40px 0;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.2s;
}

ul li a:hover {
    background-color: #eee;
    color: #000;
}

/* Text */
p {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin: 10px 10px 20px 20px;
}
h2 {
    font-size: 30px;
    color: #504f4f;
    margin: 20px 20px 10px 20px;
}

/* Footer */
.footer-section {
    clear: both;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 15px 0;
    align-items: center;
}

.footer-section p {
    text-align: center;
    max-width: none;
    margin: 5px 5px 5px 5px;                      
    color: rgb(138, 138, 138);         
}