

/*GENERAL FOR ALL PAGES*/
    /* General */
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        background-color: rgb(255, 255, 255);
        align-items: center;
        
        
    }
    
    /* Header */
    .header-content {
        background-image: url('../images/header_background.jpg');
        background-size: cover;       
        background-position: center;  
        width: 100vw;                 
        padding: 100px 0;             
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 50px;
        font-weight: 700;
        color: #ffffff;               
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
    }
    /* Navegación */
    ul {
        list-style: none; /*Para quitar los puntos*/
        padding: 0;
        display: flex;
        gap: 20px;
        margin: 40px 0;
        justify-content: center;
        
    }

    ul li a {
        text-decoration: none;
        color: #666;
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 6px;
        transition: all 0.2s;
    }

    ul li a:hover {
        background-color: #eee;
        color: #000;
    }
   
    /* Text */
    p {
        text-align: left;
        font-size: 18px;
        line-height: 1.6;
        color: #555;
        margin: 10px 10px 20px 20px;
    }
    h2 {
        font-size: 30px;
        color: #504f4f;
        margin: 20px 20px 10px 20px;
    }
    hr{
        border: none;
        height: 1px;
        background-color: #ccc;
        width: 100%;
        margin: 20px 0 0 0;
    }
    .box-text{
        background-color: #efeeee;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
        max-width: 80%;
    }
    /*Links*/
    a{
        color:#373737;
        font-weight: bold;
    }

    /* Footer */
    .footer-section {
        clear: both;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 15px 0;
        align-items: center;
    }

    .footer-section p {
        text-align: center;
        max-width: none;
        margin: 5px 5px 5px 5px;                      
        color: rgb(138, 138, 138);         
    }



/*SPECIFIC FOR INDEX PAGE*/
    /* Layout */
    .column1{
        float: left;
        text-align: center;
        width: 25%;
        height: 800px;
        background-color: #ffffff;
        box-shadow: 2px 0 5px rgba(0,0,0,0.05); 
    }
    .column2{
        float: left;
        text-align: left;
        width: 75%;
        height: 800px;
        background-color: #ffffff;
    }
    /* Profile Picture */
    #profile-picture {
        margin: 30px auto;  
        max-width: 70%;    
        height: auto;
        border-radius: 10px;
        border-radius: 10px;
    }





/*SPECIFIC FOR ABOUT PAGE*/
    .content-aboutme{
        height: auto;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: certer;
        background-color: #ffffff;
        margin-bottom: 80px;
        
    }
    .about-section {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        width: 100%;  
    }

    .about-images-container {
        display: flex;         
        justify-content: center;
        gap: 15px;             
    }

    .about-img {
        width: 200px;          
        height: 200px;         
        object-fit: cover;     
        border-radius: 10px;
    }
    .about-section-content {
        display:flex;
        max-width: 1000px;     
        text-align: center;   
        margin-top: 20px;
        width: 100%;    
    }
    
    .skills{
        float: left;
        text-align: center;
        width: 50%;
        height: 300px;
        background-color: #ffffff;
        
    }
    .social{
        float: left;
        text-align: left;
        width: 50%;
        height: 300px;
        background-color: #ffffff;
        
    }
    .social-img{
        width: 90px;          
        height: 90px;         
        object-fit: cover;     
        border-radius: 10px;
        margin: 10px;
    }
    



/*SPECIFIC FOR CONTACT PAGE*/
.contact-content {
    min-height: 80%; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #efefef;
    padding: 40px 20px;
}
/* Form */
.contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button{
    background-color: #f3b6bf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}
#name{
    width: 100%;
    height: 30px;
}
#email{
    width: 100%;
    height: 30px;
}
#message{
    width: 100%;
    height: 30px;
}
#phone{
    width: 100%;
    height: 30px;
}

/*SPECIFIC FOR DEGREE PAGE*/
.degree-table {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
table{
    width: 100%;
    text-align: left;
    margin-right: 20px;
    margin-left: 30px;
    
}
.degree-container{
    background-color: #ffdfe3;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
/*SPECIFIC FOR FCE PAGE*/

.fce-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}
.container-units{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.block-container{
    background-color: #ffdfe3;
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 300px;
}
.box-text{
    background-color: #efeeee;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
/*SPECIFIC FOR NET PAGE*/
.net-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    height: 500px;
    
}
.links-blocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.links{
    background-color: #ffdfe3;
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center; 
                                                                                                                                                                                                                                                                                                                                                                          

}               
                    
/*SPECIFIC FOR TOPIC PAGE*/
.topic-container-intro{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;

}
.topic-column1{
    width: 75%;
}
.topic-images{
    margin-top: 40 px;
    width: 20%
}
.topic-container-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.algorithms-box{
    background-color: #ffdfe3;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center; 
}


   


